nodered.js
[{"id":"ad66723f.2a91a","type":"http in","z":"e4cacf40.a323a","name":"KPN LoRa Input","url":"/loranodekpn","method":"post","upload":false,"swaggerDoc":"","x":91,"y":354,"wires":[["6da2959a.6615ac","a10993e7.a9783"]]},{"id":"ff5c1bb.9501fe8","type":"http response","z":"e4cacf40.a323a","name":"Response Success","statusCode":"","headers":{},"x":778,"y":384,"wires":[]},{"id":"a10993e7.a9783","type":"function","z":"e4cacf40.a323a","name":"Response Function","func":"msg.payload = \"{\\\"success\\\":true}\";\nreturn msg;","outputs":1,"noerr":0,"x":397,"y":416,"wires":[["ff5c1bb.9501fe8"]]},{"id":"6da2959a.6615ac","type":"function","z":"e4cacf40.a323a","name":"Decrypt Config","func":"msg.payload = msg.payload.DevEUI_uplink.payload_hex;\nmsg.key = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx';\nmsg.sequenceCounter = 1;\nmsg.address = 'XXXXXXXX';\nreturn msg;","outputs":1,"noerr":0,"x":259,"y":243,"wires":[["397cb95.2a2e846"]]},{"id":"397cb95.2a2e846","type":"lora-decrypt","z":"e4cacf40.a323a","name":"LoRa Decrypt","x":378.5,"y":122,"wires":[["9897ba2a.206be8"]]},{"id":"9897ba2a.206be8","type":"function","z":"e4cacf40.a323a","name":"ASCII to String","func":"var hex = msg.payload.toString();\nvar str = '';\nfor (var i = 0; i < hex.length; i += 2)\n    str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":547,"y":251,"wires":[["4a2f4710.56d498"]]},{"id":"9bb7a2d7.a792","type":"debug","z":"e4cacf40.a323a","name":"Message","active":true,"console":"false","complete":"payload","x":965,"y":298,"wires":[]},{"id":"4a2f4710.56d498","type":"json","z":"e4cacf40.a323a","name":"JSON Conversion","pretty":false,"x":772,"y":227,"wires":[["9bb7a2d7.a792"]]}]